body {
  background-color: rgb(23, 23, 49);
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

header > h1 {
  margin-left: 1rem;
}


.p5Canvas {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: white;


}
main {
  box-shadow: 10px 10px 50px 15px rgba(124, 154, 211, 0.555);
margin-top: 300px;
}

.ctrl {
  color: white;
  padding: 14px;
  border-radius: 14px;
  background-color: rgb(15, 15, 15);
  /* width: fit-content; */
  margin: 7px;
}

.slider {
  display: flex;
  flex-direction: row;
  width: fit;
}

@font-face {
  font-family: header;
  src: url("./fonts/computer.woff");
}